@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: #060a1f;*/
	min-height: 100vh;
	background-image: url("achtergrond2.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom; 
	background
}



article{
	display: flex;
	flex-direction: column;
}

#clock{
	display: flex;
	width: 180px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	z-index: 10;
}

h2{
	position: relative;
	display: block;
	color: #fff;
	text-align: center;
	margin: 10px 0;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 1em;
}

#time{
	display: flex;
	flex-direction: column;
}

div{
	position: relative;
	margin: 5px;
}

span{
	position: relative;
	display: block;
	width: 140px;
	height: 120px;
	background: #191977;
	color: #fff;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	padding-top: 15px;

}

/*label uur, minuut, seconde*/
#tekst, #tekst2{
	height: 30px;
	font-size: 0.7em;
	letter-spacing: 0.2em;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 13px;
	padding-top: 15px;
}

#tekst{
	background: #03034f;
}	

#tekst2{
	background: #6829aa;
}


/*seconde*/
#seconde{
	animation-name: seconde;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes seconde {
	0%   	{background-color: #842ece;}
	50%		{background-color: #8054d6;}
	100% 	{background-color: #842ece;}
}



#date {
	display: none;
}


/*vogels*/
figure{
	position: absolute;
	top: 60%;
	animation-name: vogels;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes vogels {
	0%   	{right: 110%; width: 400px; }
	100%	{right: 0%; width: 0px; }
}



@media only screen and (min-width: 600px){ /*tablet*/
	#date{
		display: flex;
		flex-direction: column;
		/*background-color: #191977;*/
		color: white;
		justify-content: center;
		letter-spacing: 0.4em;
		text-align: center;
		text-transform: uppercase;
	}
}


@media only screen and (min-width: 900px){ /*kleine desktop*/
	article{
		margin-bottom: 180px;
	}

	#clock{
		width: 450px;
		margin-top: 30px;
	}

	#time{
		flex-direction: row;
	}
	#date{
		flex-direction: row;
		height:30px;
	}
}

@media only screen and (min-width: 1300px){ /*grote desktop*/
	article{
		margin-bottom: 270px;
	}

	#clock{
		width: 450px;
		margin-top: 80px;
	}		
}





